@charset "UTF-8";
/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== URL ======================== */
/* ======================== RESET ======================== */
* {
  padding: 0px;
  margin: 0px; }
  *:focus {
    outline: none; }

a {
  text-decoration: none;
  transition: all 0.25s; }
  a:hover {
    text-decoration: none;
    transition: all 0.25s; }

button {
  transition: all 0.25s; }
  button:hover {
    transition: all 0.25s; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

select:focus, button:focus, input:focus {
  outline: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer; }

ul,
ol {
  margin: 0;
  padding: 0; }

ul li,
ol li {
  list-style: none; }

dt {
  font-weight: inherit; }

p {
  margin: 0; }

h1 {
  margin: 0px;
  padding: 0px; }

h2 {
  margin: 0px;
  padding: 0px; }

h3 {
  margin: 0px;
  padding: 0px; }

h4 {
  margin: 0px;
  padding: 0px; }

h5 {
  margin: 0px;
  padding: 0px; }

h6 {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Hiragino Sans GB W3", sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000;
  font-weight: normal;
  font-size: 14px;
  max-width: 1920px;
  line-height: 1.4; }

/* ======================== FONTS ======================== */
@font-face {
  font-family: "Hiragino Sans GB W6";
  src: url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.eot");
  /* IE9*/
  src: url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"), url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.woff2") format("woff2"), url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.woff") format("woff"), url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"), url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB W6") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.eot");
  /* IE9*/
  src: url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"), url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"), url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.woff") format("woff"), url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"), url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg");
  /* iOS 4.1- */ }

/* ======================== MIXIN ======================== */
/* ======================== FONTS ======================== */
.container {
  max-width: 900px; }

.txt-main {
  font-size: 17px;
  margin-top: 70px;
  margin-bottom: 60px; }
  .txt-main p {
    margin-bottom: 15px; }
    .txt-main p:last-child {
      margin-bottom: 0; }

.block-cat-home .box {
  position: relative;
  padding: 0 15px; }

.block-cat-home .box-title {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  margin-bottom: 40px; }
  .block-cat-home .box-title p {
    font-size: 12px;
    font-weight: normal;
    border-top: 1px solid #000;
    padding-top: 5px; }

.block-cat-home .box-img {
  padding-right: 15px;
  padding-left: 15px; }

.block-cat-home .box-text {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.block-cat-home .box-link {
  font-size: 12px;
  text-align: right;
  position: relative;
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 30px; }

.block-cat-page .box-img {
  max-width: 270px;
  margin: 0 auto; }

.block-cat-page .box-text {
  font-size: 24px; }

.more {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 29px 80px 0 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -55px; }
  .more:before {
    content: "";
    position: absolute;
    top: -28px;
    right: 0px;
    bottom: 0;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 74px 0 0;
    border-color: #ffffff transparent transparent transparent; }
  .more span {
    color: #000;
    text-transform: uppercase;
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 9px; }
  .more:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5)); }

.page {
  margin-top: 50px; }
  .page .page-title .title {
    display: block;
    font-size: 18px;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .page .page-title .title:after {
      content: "";
      display: block;
      width: 375px;
      height: 2px;
      margin: 0 auto;
      background: #000;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0; }
  .page .page-title .sub-title {
    display: block;
    text-align: center;
    font-size: 12px; }
  .page .page-content {
    margin-top: 25px; }

.list-items {
  margin-top: 100px; }
  .list-items .item-title {
    font-size: 18px;
    margin-bottom: 30px; }
    .list-items .item-title span {
      display: block;
      text-align: right;
      border-top: 1px solid #000;
      margin-top: 5px;
      padding-top: 5px; }
  .list-items .item-title2 {
    margin-bottom: 25px; }
  .list-items .item-title3 {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 5px; }
  .list-items .item-description {
    text-align: justify; }
    .list-items .item-description p {
      margin-bottom: 10px; }
      .list-items .item-description p:last-child {
        margin-bottom: 0; }
      .list-items .item-description p.img {
        margin-bottom: 20px; }

@media (max-width: 960px) {
  .block-cat-home .box-link {
    padding-right: 75px; }
  .more {
    right: -15px; } }

@media (max-width: 767px) {
  .container {
    width: auto;
    padding-right: 35px;
    padding-left: 35px; }
  .txt-main {
    margin-top: 50px; }
  .block-cat-home .box {
    margin-bottom: 60px; }
  .block-cat-home .col-sm-4:last-child .box:last-child {
    margin-bottom: 0; } }

/* ======================== HEADER ======================== */
header {
  position: relative; }
  header .header-img {
    background: url(../images/top_pc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 545px;
    margin-bottom: 10px; }
    header .header-img .container {
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    header .header-img-txt {
      margin-top: auto;
      margin-bottom: 40px; }
      header .header-img-txt p {
        font-size: 33px;
        color: #FFF; }
    header .header-img .header-scroll {
      display: none;
      background: url(../images/scroll.png) no-repeat;
      background-size: 100% 100%;
      width: 110px;
      height: 95px;
      margin-bottom: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: center; }
      header .header-img .header-scroll p {
        color: #FFF;
        margin-top: 10px; }
  header .header-main {
    width: 900px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  header .zon-logo {
    width: 185px;
    height: auto;
    padding-left: 15px; }
  header .zon-btn-menu {
    display: none; }
  header .zon-menu {
    margin-left: auto; }
    header .zon-menu .menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      header .zon-menu .menu li:hover a .txthead {
        font-weight: 900; }
      header .zon-menu .menu .level0 {
        width: 150px; }
        header .zon-menu .menu .level0 > a {
          color: #000000;
          display: block;
          line-height: 1;
          text-align: center;
          padding-right: 15px;
          padding-left: 15px; }
          header .zon-menu .menu .level0 > a .txthead {
            font-size: 18px;
            letter-spacing: 2px;
            transition: font-weight .2s ease-in-out; }
          header .zon-menu .menu .level0 > a .txtsub {
            font-size: 12px;
            display: block;
            margin-top: 5px;
            letter-spacing: normal; }
        header .zon-menu .menu .level0.parent {
          position: relative; }
          header .zon-menu .menu .level0.parent .level1 {
            position: absolute;
            top: 120%;
            left: 0;
            right: 0;
            width: 200px;
            background: #FFF;
            z-index: 9; }
            header .zon-menu .menu .level0.parent .level1 li {
              overflow: hidden;
              height: 0;
              transition: .2s;
              text-align: center; }
              header .zon-menu .menu .level0.parent .level1 li a {
                display: block;
                color: #000;
                line-height: 40px;
                text-decoration: none;
                padding: 0 15px;
                border-bottom: 1px solid #000;
                transition: font-weight .2s ease-in-out; }
                header .zon-menu .menu .level0.parent .level1 li a:hover {
                  font-weight: 900; }
              header .zon-menu .menu .level0.parent .level1 li:first-child a {
                border-top: 1px solid #000; }
          header .zon-menu .menu .level0.parent:hover li {
            overflow: visible;
            height: 40px; }

.header-home .zon-logo {
  position: absolute;
  top: 25px; }
  .header-home .zon-logo .logo-page {
    display: none; }

.header-page .header-img {
  display: none; }

.header-page .zon-logo .logo-home {
  display: none; }

@media (max-width: 900px) {
  .header-home .zon-logo {
    position: relative;
    top: 0; }
  header .header-img {
    background: url(../images/top_sh.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px; }
    header .header-img-txt p {
      font-size: 21px; }
    header .header-img .header-scroll {
      display: block; }
  header .header-main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%; }
  header .zon-btn-menu {
    display: inline-block;
    width: 26px;
    height: 20px;
    margin: 25px 15px 25px auto;
    display: block !important;
    position: relative; }
    header .zon-btn-menu span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      margin: 0 auto; }
      header .zon-btn-menu span:nth-of-type(1) {
        top: 0;
        background: #FFF; }
      header .zon-btn-menu span:nth-of-type(1) {
        -webkit-animation: menu-ber01 .75s forwards;
        animation: menu-ber01 .75s forwards; }
      header .zon-btn-menu span:nth-of-type(2) {
        top: 8px;
        background: #FFF; }
      header .zon-btn-menu span:nth-of-type(2) {
        transition: all .25s .25s;
        opacity: 1; }
      header .zon-btn-menu span:nth-of-type(3) {
        top: 16px;
        background: #FFF; }
      header .zon-btn-menu span:nth-of-type(3) {
        -webkit-animation: menu-ber02 .75s forwards;
        animation: menu-ber02 .75s forwards; }
    header .zon-btn-menu-close span:nth-of-type(1) {
      -webkit-animation: active-menu-ber01 .75s forwards;
      animation: active-menu-ber01 .75s forwards;
      top: -2px; }
    header .zon-btn-menu-close span:nth-of-type(2) {
      opacity: 0; }
    header .zon-btn-menu-close span:nth-of-type(3) {
      -webkit-animation: active-menu-ber03 .75s forwards;
      animation: active-menu-ber03 .75s forwards; }
  header .zon-menu {
    position: relative; }
    header .zon-menu .menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0; }
      header .zon-menu .menu .level0 {
        width: auto;
        margin-bottom: 25px; }
        header .zon-menu .menu .level0 > a {
          color: #FFF;
          text-align: right; }
          header .zon-menu .menu .level0 > a .txthead {
            font-size: 10px; }
          header .zon-menu .menu .level0 > a .txtsub {
            display: none; } }

@-webkit-keyframes menu-ber01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }

@keyframes menu-ber01 {
  0% {
    transform: translateY(8px) rotate(45deg); }
  50% {
    transform: translateY(8px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }

@-webkit-keyframes menu-ber02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }

@keyframes menu-ber02 {
  0% {
    transform: translateY(-8px) rotate(-45deg); }
  50% {
    transform: translateY(-8px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }

@-webkit-keyframes active-menu-ber01 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(10px) rotate(0); }
  100% {
    -webkit-transform: translateY(10px) rotate(45deg); } }

@keyframes active-menu-ber01 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(10px) rotate(0); }
  100% {
    transform: translateY(10px) rotate(45deg); } }

@-webkit-keyframes active-menu-ber03 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-8px) rotate(0); }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg); } }

@keyframes active-menu-ber03 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(-8px) rotate(0); }
  100% {
    transform: translateY(-8px) rotate(-45deg); } }

/* ======================== Page ======================== */
/* ======================== FOOTER ======================== */
footer {
  margin-top: 70px; }
  footer .container {
    padding: 0; }
  footer .footer-top {
    border-top: 1px solid #000;
    padding-top: 15px;
    padding-bottom: 15px; }
    footer .footer-top .wrap {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    footer .footer-top-wrap {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%; }
  footer .menu-footer .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    footer .menu-footer .menu li {
      width: 150px; }
      footer .menu-footer .menu li a {
        color: #000000;
        display: block;
        line-height: 1;
        text-align: center;
        padding-right: 15px;
        padding-left: 15px; }
        footer .menu-footer .menu li a .txthead {
          font-size: 14px;
          letter-spacing: 2px;
          transition: font-weight .2s ease-in-out; }
        footer .menu-footer .menu li a .txtsub {
          font-size: 12px;
          display: block;
          margin-top: 5px;
          letter-spacing: normal; }
      footer .menu-footer .menu li:hover a .txthead {
        font-weight: 900; }
  footer .footer-logo {
    padding-left: 35px;
    margin-top: auto; }
  footer .footer-bottom {
    border-top: 1px solid #000;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px; }
  footer .footer-info {
    max-width: 300px;
    margin-right: 50px;
    margin-left: auto; }
    footer .footer-info .inner {
      border: 1px solid #000;
      padding: 15px;
      text-align: center; }
    footer .footer-info .tlt {
      margin-bottom: 10px; }
    footer .footer-info li p {
      margin-bottom: 10px; }
    footer .footer-info li:last-child p:last-child {
      margin-bottom: 0; }
    footer .footer-info li .dot span {
      background: #000;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      width: 10px;
      height: 10px;
      display: block;
      margin: 0 auto; }
    footer .footer-info .tel .txt span {
      border: 1px solid #000;
      padding: 5px;
      display: inline-block;
      text-transform: uppercase; }
    footer .footer-info .tel a {
      color: #000; }
    footer .footer-info .mail i {
      font-size: 36px; }
    footer .footer-info .mail a {
      color: #000; }

@media (max-width: 767px) {
  footer .container {
    padding-right: 15px;
    padding-left: 15px; }
  footer .menu-footer .menu {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: start;
    -moz-align-items: start;
    -ms-align-items: start;
    align-items: start; }
    footer .menu-footer .menu li {
      width: auto;
      margin-bottom: 10px; }
      footer .menu-footer .menu li:last-child {
        margin-bottom: 0; }
      footer .menu-footer .menu li a {
        text-align: left;
        padding-right: 0;
        padding-left: 0; }
        footer .menu-footer .menu li a .txthead, footer .menu-footer .menu li a .txtsub {
          display: inline-block;
          vertical-align: middle; }
        footer .menu-footer .menu li a .txtsub {
          margin-top: 0; }
  footer .footer-logo {
    margin-top: 30px;
    padding-left: 0; }
    footer .footer-logo img {
      width: 50%; }
    footer .footer-logo span {
      display: block; }
  footer .footer-info {
    max-width: unset;
    margin-right: 0; } }
