header {
  position: relative;
  .header-img {
    background: url(../images/top_pc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 545px;
    margin-bottom: 10px;
    .container {
      height: 100%;
      @include flexbox();
      @include flex-direction(column);
    }
    &-txt {
      margin-top: auto;
      margin-bottom: 40px;
      p {
        font-size: 33px;
        color: #FFF;
      }
    }
    .header-scroll {
      display: none;
      background: url(../images/scroll.png) no-repeat;
      background-size: 100% 100%;
      width: 110px;
      height: 95px;
      margin-bottom: 15px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      p {
        color: #FFF;
        margin-top: 10px;
      }
    }
  }
  .header-main {
    width: 900px;
    margin: 0 auto;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
  }
  .zon-logo {
    width: 185px;
    height: auto;
    padding-left: 15px;
  }
  .zon-btn-menu {
    display: none;
  } 
  .zon-menu {
    margin-left: auto;
    .menu {
      @include flexbox;
      @include flex-direction(row);
      @include align-items(center);
      li:hover {
        a {
          .txthead {
            font-weight: 900;
          }
        }
      }
      .level0 {
        width: 150px;
        & > a {
          color: #000000;
          display: block;
          line-height: 1;
          text-align: center;
          padding-right: 15px;
          padding-left: 15px;
          .txthead {
            font-size: 18px;
            letter-spacing: 2px;
            transition: font-weight .2s ease-in-out;
          }
          .txtsub {
            font-size: 12px;
            display: block;
            margin-top: 5px;
            letter-spacing: normal;
          }
        }
        &.parent {
          position: relative;
          .level1 {
            position: absolute;
            top: 120%;
            left: 0;
            right: 0;
            width: 200px;
            background: #FFF;
            z-index: 9;
            li {
              overflow: hidden;
              height: 0;
              transition: .2s;
              text-align: center;
              a {
                display: block;
                color: #000;
                line-height: 40px;
                text-decoration: none;
                padding: 0 15px;
                border-bottom: 1px solid #000;
                transition: font-weight .2s ease-in-out;
                &:hover {
                  font-weight: 900;
                }
              }
              &:first-child {
                a {
                  border-top: 1px solid #000;
                }
              }
            }
          }
          &:hover {
            li {
              overflow: visible;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
.header-home {
  .zon-logo {
    position: absolute;
    top: 25px;
    .logo-page {
      display: none; 
    }
  }
}
.header-page {
  .header-img {
    display: none;
  }
  .zon-logo {
    .logo-home {
      display: none; 
    }
  }
}

@media (max-width: 900px) {
  .header-home {
    .zon-logo {
      position: relative;
      top: 0;
    }
  }
  header {
    .header-img {
      background: url(../images/top_sh.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 660px;
      &-txt {
        p {
          font-size: 21px;
        }
      }
      .header-scroll {
        display: block;
      }
    }
    .header-main {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
    }
    .zon-btn-menu {
      display: inline-block;
      width: 26px;
      height: 20px;
      margin: 25px 15px 25px auto;
      display: block !important;
      position: relative;
      span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        margin: 0 auto;
        &:nth-of-type(1) {
          top: 0;
          background: #FFF;
        }
        &:nth-of-type(1) {
          -webkit-animation: menu-ber01 .75s forwards;
          animation: menu-ber01 .75s forwards;
        }
        &:nth-of-type(2) {
          top: 8px;
          background: #FFF;
        }
        &:nth-of-type(2) {
          transition: all .25s .25s;
          opacity: 1;
        }
        &:nth-of-type(3) {
          top: 16px;
          background: #FFF;
        }
        &:nth-of-type(3) {
          -webkit-animation: menu-ber02 .75s forwards;
          animation: menu-ber02 .75s forwards;
        }
      }
      &-close {
        span {
          &:nth-of-type(1) {
            -webkit-animation: active-menu-ber01 .75s forwards;
            animation: active-menu-ber01 .75s forwards;
            top: -2px;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            -webkit-animation: active-menu-ber03 .75s forwards;
            animation: active-menu-ber03 .75s forwards;
          }
        }
      }
    }
    .zon-menu {
      position: relative;
      .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
          .level0 {
              width: auto;
              margin-bottom: 25px;
              & > a {
                color: #FFF;
                text-align: right;
                .txthead {
                  font-size: 10px;
                }
                .txtsub {
                  display: none;
                }
              }
            }
      }
    }
  }
}
@-webkit-keyframes menu-ber01 {
  0% {
    -webkit-transform: translateY(8px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-ber01 {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes menu-ber02 {
  0% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-ber02 {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes active-menu-ber01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(10px) rotate(45deg);
  }
}

@keyframes active-menu-ber01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(10px) rotate(0);
  }
  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@-webkit-keyframes active-menu-ber03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-8px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-8px) rotate(-45deg);
  }
}

@keyframes active-menu-ber03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}