header {
  position: relative;
  .header-img {
    background: url(../images/top_pc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 545px;
    margin-bottom: 10px;
    .container {
      height: 100%;
    }
    &-txt {
      position: absolute;
      bottom: 40px;
      p {
        font-size: 30px;
        color: #FFF;
      }
    }
  }
  .header-main {
    width: 900px;
    margin: 0 auto;
    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
  }
  .zon-logo {
    width: 185px;
    height: auto;
  }
  .zon-btn-menu {
    display: none;
  } 
  .zon-menu {
    margin-left: auto;
    .menu {
      @include flexbox;
      @include flex-direction(row);
      @include align-items(center);
      li:hover {
        a {
          .txthead {
            font-weight: 900;
          }
        }
      }
      .level0 {
        width: 150px;
        & > a {
          color: #000000;
          display: block;
          line-height: 1;
          text-align: center;
          padding-right: 15px;
          padding-left: 15px;
          .txthead {
            font-size: 18px;
            letter-spacing: 2px;
            transition: font-weight .2s ease-in-out;
          }
          .txtsub {
            font-size: 12px;
            display: block;
            margin-top: 5px;
            letter-spacing: normal;
          }
        }
        &.parent {
          position: relative;
          .level1 {
            position: absolute;
            top: 120%;
            left: 0;
            right: 0;
            width: 200px;
            background: #FFF;
            li {
              overflow: hidden;
              height: 0;
              transition: .2s;
              text-align: center;
              a {
                display: block;
                color: #000;
                line-height: 40px;
                text-decoration: none;
                padding: 0 15px;
                border-bottom: 1px solid #000;
                transition: font-weight .2s ease-in-out;
                &:hover {
                  font-weight: 900;
                }
              }
              &:first-child {
                a {
                  border-top: 1px solid #000;
                }
              }
            }
          }
          &:hover {
            li {
              overflow: visible;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.header-home {
  .zon-logo {
    position: absolute;
    top: 25px;
    .logo-page {
      display: none; 
    }
  }
}
.header-page {
  .header-img {
    display: none;
  }
  .zon-logo {
    .logo-home {
      display: none; 
    }
  }
}