.container {
  max-width: 900px;
}
.txt-main {
  font-size: 16px;
  padding: 35px 50px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.block-cat-home {
  .box {
    position: relative;
    padding: 0 15px;
  }
  .box-title {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    margin-bottom: 40px;
    p {
      font-size: 14px;
      font-weight: normal;
      border-top: 1px solid #000;
      padding-top: 5px;
    }
  }
  .box-img {
    padding-right: 15px;
    padding-left: 15px;
  }
  .box-text {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .box-link {
    text-align: right;
    position: relative;
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
.more {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 29px 80px 0 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -55px;
  &:before {
    content: "";
    position: absolute;
    top: -28px;
    right: 0px;
    bottom: 0;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 74px 0 0;
    border-color: #ffffff transparent transparent transparent;
  }
  span {
    color: #000;
    text-transform: uppercase;
    position: relative;
    top: -30px;
    left: 5px;
    font-size: 10px;
  }
}

.page {
  margin-top: 50px;
  .page-title {
    .title {
      display: block;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 2px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:after {
        content: "";
        display: block;
        width: 375px;
        height: 2px;
        margin: 0 auto;
        background: #000;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    .sub-title {
      display: block;
      text-align: center;
      font-size: 15px;
    }
  }
  .page-content {
    margin-top: 25px;
  }
}
.list-items {
  margin-top: 100px;
  // .box {
  //   padding-right: 10px;
  //   padding-left: 10px;
  // }
  .item-title {
    font-size: 18px;
    margin-bottom: 70px;
    span {
      display: block;
      text-align: right;
      border-top: 1px solid #000;
      margin-top: 5px;
      padding-top: 5px;
    }
  }
  .item-title2 {
    margin-bottom: 25px;
  }
  .item-title3 {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .item-description {
    text-align: justify;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &.img {
        margin-bottom: 20px;
      }
    }
  }
}