@font-face {
  font-family: "Hiragino Sans GB W6";
  src: url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.eot"); /* IE9*/
  src: url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.woff") format("woff"), /* chrome、firefox */
  url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/hiraginow6/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB W6") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Hiragino Sans GB W3";
  src: url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.eot"); /* IE9*/
  src: url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.woff") format("woff"), /* chrome、firefox */
  url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/hiraginow3/3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB W3") format("svg"); /* iOS 4.1- */
}