* {
	padding: 0px;
	margin: 0px;
	&:focus {
		outline: none;
	}
}
a {
	text-decoration: none;
	transition: all 0.25s;
	&:hover {
		text-decoration: none;
		transition: all 0.25s;
	}
}
button {
	transition: all 0.25s;
	&:hover {
		transition: all 0.25s;
	}
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
select:focus, button:focus, input:focus { outline: none; }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  padding: 8px 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
dt {
	font-weight: inherit;
}
p { 
	margin: 0;
}

// Reset h1 h2 h3 h4 h5 h6
@each $element in $heading {
	#{$element} {
		margin: 0px;
		padding: 0px;
	}
}
body {
	// font-family: "Hiragino Sans GB W6", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-family: $Hiraginow3, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #000;
	font-weight: normal;
	font-size: 14px;
	max-width: 1920px;
	line-height: 1.4;
  // text-size-adjust: 100%;
  // overflow-x: hidden;
  // color: rgb(255, 255, 255);
  // font: 300 14px/1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}