/* ======================== FONTS ======================== */
$Hiraginow6 : 'Hiragino Sans GB W6', sans-serif;
$Hiraginow3 : 'Hiragino Sans GB W3', sans-serif;

/* ======================== LIST ======================== */
$heading: h1 h2 h3 h4 h5 h6;

/* ======================== URL ======================== */
$url-images: '../images/';